final.zip
test.zip
__pycache__/FileReader.cpython-38.pyc
__pycache__/SegPrep.cpython-38.pyc
regionFillTest/final.jpg
regionFillTest/image0.jpg
regionFillTest/image4.jpg
results/image0.jpg
results/image1.jpg
results/image2.jpg
results/image3.jpg
results/image4.jpg
results/image5.jpg
results/image6.jpg
results/image7.jpg
results/image8.jpg
results/image9.jpg
results/image10.jpg
results/image11.jpg
results/image12.jpg
results/image13.jpg
results/image0/image0.jpg
results/image0/slice1.jpg
results/image0/slice2.jpg
results/image0/slice3.jpg
results/image0/slice4.jpg
results/image0/slice5.jpg
results/image0/slice6.jpg
results/image0/slice7.jpg
results/image0/slice8.jpg
results/image0/slice9.jpg
results/image0/slice10.jpg
results/image0/slice11.jpg
results/image0/slice12.jpg
results/image0/slice13.jpg
results/image0/slice14.jpg
results/image1/image1.jpg
results/image1/slice1.jpg
results/image1/slice2.jpg
results/image1/slice3.jpg
results/image1/slice4.jpg
results/image1/slice5.jpg
results/image1/slice6.jpg
results/image1/slice7.jpg
results/image1/slice8.jpg
results/image1/slice9.jpg
results/image1/slice10.jpg
results/image1/slice11.jpg
results/image1/slice12.jpg
results/image1/slice13.jpg
results/image1/slice14.jpg
results/image1/slice15.jpg
results/image1/slice16.jpg
results/image1/slice17.jpg
results/image1/slice18.jpg
results/image1/slice19.jpg
results/image1/slice20.jpg
results/image1/slice21.jpg
results/image1/slice22.jpg
results/image1/slice23.jpg
results/image1/slice24.jpg
results/image1/slice25.jpg
results/image1/slice26.jpg
results/image1/slice27.jpg
results/image1/slice28.jpg
results/image1/slice29.jpg
results/image1/slice30.jpg
results/image1/slice31.jpg
results/image1/slice32.jpg
results/image1/slice33.jpg
results/image1/slice34.jpg
results/image1/slice35.jpg
results/image1/slice36.jpg
results/image1/slice37.jpg
results/image1/slice38.jpg
results/image1/slice39.jpg
results/image1/slice40.jpg
results/image1/slice41.jpg
results/image1/slice42.jpg
results/image1/slice43.jpg
results/image1/slice44.jpg
results/image1/slice45.jpg
results/image1/slice46.jpg
results/image1/slice47.jpg
results/image1/slice48.jpg
results/image1/slice49.jpg
results/image1/slice50.jpg
results/image1/slice51.jpg
results/image1/slice52.jpg
results/image1/slice53.jpg
results/image1/slice54.jpg
results/image1/slice55.jpg
results/image1/slice56.jpg
results/image1/slice57.jpg
results/image1/slice58.jpg
results/image1/slice59.jpg
results/image1/slice60.jpg
results/image1/slice61.jpg
results/image1/slice62.jpg
results/image2/image2.jpg
results/image2/slice1.jpg
results/image2/slice2.jpg
results/image2/slice3.jpg
results/image2/slice4.jpg
results/image2/slice5.jpg
results/image2/slice6.jpg
results/image2/slice7.jpg
results/image2/slice8.jpg
results/image2/slice9.jpg
results/image2/slice10.jpg
results/image2/slice11.jpg
results/image2/slice12.jpg
results/image2/slice13.jpg
results/image2/slice14.jpg
results/image2/slice15.jpg
results/image2/slice16.jpg
results/image2/slice17.jpg
results/image2/slice18.jpg
results/image2/slice19.jpg
results/image2/slice20.jpg
results/image2/slice21.jpg
results/image2/slice22.jpg
results/image2/slice23.jpg
results/image2/slice24.jpg
results/image2/slice25.jpg
results/image2/slice26.jpg
results/image2/slice27.jpg
results/image2/slice28.jpg
results/image2/slice29.jpg
results/image2/slice30.jpg
results/image2/slice31.jpg
results/image2/slice32.jpg
results/image2/slice33.jpg
results/image2/slice34.jpg
results/image2/slice35.jpg
results/image2/slice36.jpg
results/image2/slice37.jpg
results/image2/slice38.jpg
results/image2/slice39.jpg
results/image2/slice40.jpg
results/image3/image3.jpg
results/image3/slice1.jpg
results/image3/slice2.jpg
results/image3/slice3.jpg
results/image3/slice4.jpg
results/image3/slice5.jpg
results/image3/slice6.jpg
results/image3/slice7.jpg
results/image3/slice8.jpg
results/image3/slice9.jpg
results/image3/slice10.jpg
results/image3/slice11.jpg
results/image3/slice12.jpg
results/image3/slice13.jpg
results/image3/slice14.jpg
results/image3/slice15.jpg
results/image3/slice16.jpg
results/image3/slice17.jpg
results/image3/slice18.jpg
results/image3/slice19.jpg
results/image3/slice20.jpg
results/image3/slice21.jpg
results/image3/slice22.jpg
results/image3/slice23.jpg
results/image3/slice24.jpg
results/image3/slice25.jpg
results/image3/slice26.jpg
results/image3/slice27.jpg
results/image3/slice28.jpg
results/image3/slice29.jpg
results/image3/slice30.jpg
results/image3/slice31.jpg
results/image3/slice32.jpg
results/image3/slice33.jpg
results/image3/slice34.jpg
results/image3/slice35.jpg
results/image3/slice36.jpg
results/image3/slice37.jpg
results/image3/slice38.jpg
results/image3/slice39.jpg
results/image3/slice40.jpg
results/image3/slice41.jpg
results/image3/slice42.jpg
results/image3/slice43.jpg
results/image3/slice44.jpg
results/image3/slice45.jpg
results/image3/slice46.jpg
results/image3/slice47.jpg
results/image3/slice48.jpg
results/image3/slice49.jpg
results/image3/slice50.jpg
results/image3/slice51.jpg
results/image3/slice52.jpg
results/image3/slice53.jpg
results/image3/slice54.jpg
results/image3/slice55.jpg
results/image3/slice56.jpg
results/image3/slice57.jpg
results/image3/slice58.jpg
results/image3/slice59.jpg
results/image3/slice60.jpg
results/image3/slice61.jpg
results/image3/slice62.jpg
results/image3/slice63.jpg
results/image3/slice64.jpg
results/image3/slice65.jpg
results/image3/slice66.jpg
results/image3/slice67.jpg
results/image3/slice68.jpg
results/image3/slice69.jpg
results/image3/slice70.jpg
results/image3/slice71.jpg
results/image3/slice72.jpg
results/image3/slice73.jpg
results/image3/slice74.jpg
results/image3/slice75.jpg
results/image3/slice76.jpg
results/image3/slice77.jpg
results/image3/slice78.jpg
results/image3/slice79.jpg
results/image3/slice80.jpg
results/image3/slice81.jpg
results/image3/slice82.jpg
results/image3/slice83.jpg
results/image3/slice84.jpg
results/image3/slice85.jpg
results/image4/image4.jpg
results/image4/slice1.jpg
results/image4/slice2.jpg
results/image4/slice3.jpg
results/image4/slice4.jpg
results/image4/slice5.jpg
results/image4/slice6.jpg
results/image4/slice7.jpg
results/image4/slice8.jpg
results/image4/slice9.jpg
results/image4/slice10.jpg
results/image4/slice11.jpg
results/image4/slice12.jpg
results/image4/slice13.jpg
results/image4/slice14.jpg
results/image4/slice15.jpg
results/image4/slice16.jpg
results/image4/slice17.jpg
results/image4/slice18.jpg
results/image5/image5.jpg
results/image5/slice1.jpg
results/image5/slice2.jpg
results/image5/slice3.jpg
results/image5/slice4.jpg
results/image5/slice5.jpg
results/image5/slice6.jpg
results/image5/slice7.jpg
results/image5/slice8.jpg
results/image5/slice9.jpg
